{
  "openapi": "3.1.0",
  "info": {
    "title": "Kassalapp",
    "version": "0.0.1",
    "description": "This API documentation is meant to be used by OpenAI ChatGPT."
  },
  "servers": [
    {
      "url": "https://kassal.app/api/v1"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Checks if the Kassalapp API is working",
        "tags": [
          "HealthCheck"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The string \"Healthy\""
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/labels": {
      "get": {
        "operationId": "listLabels",
        "description": "Returns a list of all labels",
        "summary": "List all labels",
        "tags": [
          "Label"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter labels by the 'name' and 'display_name' fields",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `LabelItemResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LabelItemResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/physical-stores": {
      "get": {
        "operationId": "searchPhysicalStores",
        "description": "Useful for finding a grocery store by name, location or based on the group (grocery store chain), returns name, address, contact information and opening hours for each store.",
        "summary": "Search for physical stores",
        "tags": [
          "PhysicalStore"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "description": "Filter by group name.",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "MENY_NO",
                "SPAR_NO",
                "JOKER_NO",
                "ODA_NO",
                "ENGROSSNETT_NO",
                "NAERBUTIKKEN",
                "BUNNPRIS",
                "KIWI",
                "REMA_1000",
                "EUROPRIS_NO",
                "HAVARISTEN",
                "HOLDBART",
                "FUDI",
                "COOP_NO",
                "COOP_MARKED",
                "MATKROKEN",
                "COOP_MEGA",
                "COOP_PRIX",
                "COOP_OBS",
                "COOP_EXTRA",
                "COOP_BYGGMIX",
                "COOP_OBS_BYGG",
                "COOP_ELEKTRO",
                "ARK",
                "NORLI",
                "ADLIBRIS",
                null]
            },
            "example": "BUNNPRIS"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Perform a search based on a keyword.",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "landås"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude coordinate for proximity search.",
            "schema": {
              "type": [
                "number",
                "null"
              ]
            }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude coordinate for proximity search.",
            "schema": {
              "type": [
                "number",
                "null"
              ]
            }
          },
          {
            "name": "km",
            "in": "query",
            "description": "Search radius in kilometers for proximity search.",
            "schema": {
              "type": [
                "number",
                "null"
              ]
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of results to be displayed per page.\nMust be an integer between 1 and 100.",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `PhysicalStoreResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhysicalStoreResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/physical-stores/{physicalStore}": {
      "get": {
        "operationId": "findPhysicalStoreById",
        "description": "Finds a grocery store by ID. returns name, address, contact information and opening hours for the store store.",
        "summary": "Find physical store by ID",
        "tags": [
          "PhysicalStore"
        ],
        "parameters": [
          {
            "name": "physicalStore",
            "in": "path",
            "required": true,
            "description": "The physical store ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`PhysicalStoreResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PhysicalStoreResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "searchProducts",
        "description": "Useful for searching for groceries and various product to find the price, ingredients and nutritional information",
        "summary": "Search for products",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "description": "Filter products by brand name.",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "BAMA"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Filter products by vendor (leverandør).",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "orkla foods"
          },
          {
            "name": "price_min",
            "in": "query",
            "description": "Filter products by minimum price.",
            "schema": {
              "type": [
                "number",
                "null"
              ]
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "description": "Filter products by maximum price.",
            "schema": {
              "type": [
                "number",
                "null"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the products by a specific criteria.\nAvailable options: date_asc, date_desc, name_asc, name_desc, price_asc, price_desc.",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "date_asc",
                "date_desc",
                "name_asc",
                "name_desc",
                "price_asc",
                "price_desc",
                null]
            }
          },
          {
            "name": "excl_allergens[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "incl_allergens[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "has_labels[]",
            "in": "query",
            "description": "Only return products with the matching labels, the value is an array of label names (eg: euroleaf, frysevare).\nEach element must be a string.",
            "schema": {
              "type": [
                "array",
                "null"
              ],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter products by category name.",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "minLength": 3
            },
            "example": "bakeri"
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Filter products by category ID.",
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            },
            "example": 5
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for products based on a keyword, this only applies to \"name\" of a product\nThe keyword must be a string with a minimum length of 3 characters.",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "minLength": 3
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of products to be displayed per page.\nMust be an integer between 1 and 100.",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "unique",
            "in": "query",
            "description": "If true, the product list will be collapsed based on the EAN number of the product; in practice, set this to true if you don't want duplicate results.",
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "exclude_without_ean",
            "in": "query",
            "description": "If true, products without an EAN number are excluded from the results.",
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "store",
            "in": "query",
            "description": "Filter products by store (e.g., SPAR_NO, MENY_NO, KIWI).",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "SPAR_NO"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "path",
                        "per_page",
                        "to"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/products/id/{product}": {
      "get": {
        "operationId": "findProductById",
        "description": "Gets a specific product by id, returns the product price, nutritional information, ingredients, allergens for the product.",
        "summary": "Lookup product by ID",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "required": true,
            "description": "The product ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/products/ean/{ean}": {
      "get": {
        "operationId": "findProductByEanBarcode",
        "description": "Gets a specific product by EAN (barcode) number, returns the product price, nutritional information, ingredients, allergens for the product.",
        "summary": "Lookup product by EAN number",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "ean",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ProductComparisonResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductComparisonResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/products/find-by-url/single": {
      "get": {
        "operationId": "findProductByUrl",
        "description": "Will look up product information based on an URL, returns the product price, nutritional information, ingredients, allergens for the product.",
        "summary": "Find product info by URL",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The url of the Product you want to get information on.",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "example": "https://meny.no/varer/middag/pizza/pizza/grandiosa-pizza-7039010019811"
          }
        ],
        "responses": {
          "200": {
            "description": "`ProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Product not found"
                    },
                    "url": {

                    }
                  },
                  "required": [
                    "message",
                    "url"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/products/find-by-url/compare": {
      "get": {
        "operationId": "findProductsByUrl",
        "description": "Will look up product information based on an URL, and return all matching prices from other stores that stock that item.",
        "summary": "Find product price comparison info by URL",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The url of the Product you want to get comparisons for.",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "example": "https://meny.no/varer/middag/pizza/pizza/grandiosa-pizza-7039010019811"
          }
        ],
        "responses": {
          "200": {
            "description": "`ProductComparisonResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductComparisonResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/products/prices-bulk": {
      "post": {
        "operationId": "bulkPriceHistory",
        "description": "Returns aggregated price history across all stores for the requested EAN codes.\nPrice data is aggregated by day, showing one price per day per store.",
        "summary": "Get bulk price history for multiple EANs",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eans": {
                    "type": "array",
                    "description": "Array of EAN (barcode) codes to look up.",
                    "examples": [
                      [
                        "7039010019811",
                        "7038010055720"
                      ]
                    ],
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 100
                  },
                  "days": {
                    "type": "integer",
                    "description": "Number of days of price history to include. Default: 30. Max: 90 (free) or 365 (premium).",
                    "examples": [30],
                    "minimum": 1
                  },
                  "aggregation": {
                    "type": "string",
                    "description": "Price aggregation method when multiple prices exist on the same day.",
                    "enum": [
                      "min",
                      "max",
                      "avg"
                    ],
                    "examples": [
                      "min"
                    ]
                  }
                },
                "required": [
                  "eans"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BulkPriceHistoryItemResource"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "requested_eans": {
                          "type": "integer",
                          "description": "Total number of EAN codes in the request"
                        },
                        "found_products": {
                          "type": "integer",
                          "description": "Number of products found with matching EAN codes"
                        },
                        "days_included": {
                          "type": "integer",
                          "description": "Number of days of price history included"
                        },
                        "is_premium": {
                          "type": "boolean",
                          "description": "Whether the requesting token has premium access"
                        }
                      },
                      "required": [
                        "requested_eans",
                        "found_products",
                        "days_included",
                        "is_premium"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "searchProductCategories",
        "summary": "Search for product categories",
        "tags": [
          "ProductCategory"
        ],
        "parameters": [
          {
            "name": "parent_id",
            "in": "query",
            "description": "Only return categories that are direct children of the given parent_id.\nAKA: get the children of a specific category.",
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for categories based on a keyword, this only applies to \"name\" of a category.\nThe keyword must be a string with a minimum length of 3 characters.",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "minLength": 3
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of categories to be displayed per page.\nMust be an integer between 1 and 100.",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ProductCategoryResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductCategoryResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "path",
                        "per_page",
                        "to"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/categories/{category}": {
      "get": {
        "operationId": "findCategoryById",
        "description": "Gets a specific product category by id, returns the category name, parent category, and depth.",
        "summary": "Lookup category by ID",
        "tags": [
          "ProductCategory"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "description": "The category ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ProductCategoryResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductCategoryResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/shopping-lists": {
      "get": {
        "operationId": "listAllShoppinglists",
        "description": "Retrieves a collection of shopping lists associated with the authenticated user.",
        "summary": "List all Shopping Lists",
        "tags": [
          "ShoppingList"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter shopping lists by searching the title",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Use include=items to include the shopping list items in the response",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "items",
                null]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `ShoppingListResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShoppingListResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "createShoppingList",
        "description": "Creates a new shopping list for the authenticated user based on the provided data.",
        "summary": "Create a new Shopping List",
        "tags": [
          "ShoppingList"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShoppingListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ShoppingListResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ShoppingListResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/shopping-lists/{shoppingList}": {
      "get": {
        "operationId": "showShoppingList",
        "description": "Retrieves a specific shopping list.",
        "summary": "Show Shopping List details",
        "tags": [
          "ShoppingList"
        ],
        "parameters": [
          {
            "name": "shoppingList",
            "in": "path",
            "required": true,
            "description": "The shopping list ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ShoppingListResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ShoppingListResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "patch": {
        "operationId": "updateShoppingList",
        "description": "Updates the data of a specific shopping list owned by the authenticated user.",
        "summary": "Update Shopping List",
        "tags": [
          "ShoppingList"
        ],
        "parameters": [
          {
            "name": "shoppingList",
            "in": "path",
            "required": true,
            "description": "The shopping list ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShoppingListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ShoppingListResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ShoppingListResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "deleteShoppingList",
        "description": "Deletes a specific shopping list owned by the authenticated user.",
        "summary": "Delete Shopping List",
        "tags": [
          "ShoppingList"
        ],
        "parameters": [
          {
            "name": "shoppingList",
            "in": "path",
            "required": true,
            "description": "The shopping list ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Shopping list deleted"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/shopping-lists/{shoppingList}/items": {
      "post": {
        "operationId": "shoppingListItem.store",
        "description": "Add an item to an existing shopping list by id, specify the product id and an optional \"text\" field,\nin the kassalapp website the \"text\" field is simply the product name, but in the API it does not have to be that,\nit can also be left blank if not required.",
        "summary": "Add item to shopping list",
        "tags": [
          "ShoppingListItem"
        ],
        "parameters": [
          {
            "name": "shoppingList",
            "in": "path",
            "required": true,
            "description": "The shopping list ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShoppingListItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ShoppingListItemResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ShoppingListItemResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/shopping-lists/{shoppingList}/items/{shoppingListItem}": {
      "patch": {
        "operationId": "shoppingListItem.update",
        "description": "Update an item in the shopping list, you can change the \"text\", or the \"checked\" field.",
        "summary": "Update an item in the shopping list",
        "tags": [
          "ShoppingListItem"
        ],
        "parameters": [
          {
            "name": "shoppingList",
            "in": "path",
            "required": true,
            "description": "The shopping list ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "shoppingListItem",
            "in": "path",
            "required": true,
            "description": "The shopping list item ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShoppingListItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ShoppingListItemResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ShoppingListItemResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "shoppingListItem.destroy",
        "description": "Removes an item from the shopping list by id.",
        "summary": "Remove item from shopping list",
        "tags": [
          "ShoppingListItem"
        ],
        "parameters": [
          {
            "name": "shoppingList",
            "in": "path",
            "required": true,
            "description": "The shopping list ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "shoppingListItem",
            "in": "path",
            "required": true,
            "description": "The shopping list item ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Shopping list item deleted"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listAllWebhooks",
        "description": "Retrieves a collection of webhooks associated with the authenticated user.",
        "summary": "List all webhooks",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter webhooks by searching the name or url",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `WebhookResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "webhook.store",
        "description": "Create and store a new webhook associated with the authenticated user.\nUse the provided data from the request to set the webhook's properties.",
        "summary": "Create a new webhook",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`WebhookResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/webhooks/{webhook}": {
      "patch": {
        "operationId": "webhook.update",
        "description": "Update the properties of an existing webhook based on the provided request data.\nEnsure that the webhook to be updated belongs to the authenticated user.",
        "summary": "Update an existing webhook",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "The webhook ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`WebhookResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "webhook.destroy",
        "description": "Remove an existing webhook from the system.\nEnsure that the webhook to be deleted belongs to the authenticated user.",
        "summary": "Delete an existing webhook",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "The webhook ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "const": "Webhook deleted successfully"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "http": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "token"
      }
    },
    "schemas": {
      "AllergenItemResource": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "contains": {
            "type": "string",
            "description": "contains\n- YES - Contains the allergen\n- NO - Does not contain the allergen\n- UNKNOWN - There is no information available\n- CAN_CONTAIN_TRACES - Can contain traces for the allergen"
          }
        },
        "required": [
          "code",
          "display_name",
          "contains"
        ],
        "title": "AllergenItemResource"
      },
      "BulkPriceHistoryItemResource": {
        "type": "object",
        "properties": {
          "ean": {
            "type": "string",
            "description": "The EAN barcode number"
          },
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "weight": {
            "type": [
              "number",
              "null"
            ],
            "description": "Product weight in the specified weight_unit"
          },
          "weight_unit": {
            "type": [
              "string",
              "null"
            ],
            "description": "Unit of the product weight (e.g. \"g\", \"kg\", \"ml\")"
          },
          "stores": {
            "type": "array",
            "description": "Prices from each store that stocks this product",
            "items": {
              "$ref": "#/components/schemas/BulkPriceHistoryStoreResource"
            }
          },
          "price_history": {
            "type": "array",
            "description": "Daily aggregated price history entries",
            "items": {
              "$ref": "#/components/schemas/BulkPriceHistoryPriceResource"
            }
          }
        },
        "required": [
          "ean",
          "name",
          "weight",
          "weight_unit",
          "stores",
          "price_history"
        ],
        "title": "BulkPriceHistoryItemResource"
      },
      "BulkPriceHistoryPriceResource": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "description": "The aggregated price for this day"
          },
          "date": {
            "type": "string",
            "description": "The date (YYYY-MM-DD)"
          },
          "store": {
            "type": "string",
            "description": "Store code identifier (e.g. \"MENY_NO\", \"KIWI\", \"REMA_1000\")"
          }
        },
        "required": [
          "price",
          "date",
          "store"
        ],
        "title": "BulkPriceHistoryPriceResource"
      },
      "BulkPriceHistoryStoreResource": {
        "type": "object",
        "properties": {
          "store": {
            "type": "string",
            "description": "Store code identifier (e.g. \"MENY_NO\", \"KIWI\", \"REMA_1000\")"
          },
          "name": {
            "type": "string",
            "description": "Display name of the store"
          },
          "current_price": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current price (Enhetspris)"
          },
          "current_unit_price": {
            "type": [
              "number",
              "null"
            ],
            "description": "The unit price per kg, liter, or piece (\"kilopris\")"
          },
          "current_unit_price_unit": {
            "type": [
              "string",
              "null"
            ],
            "description": "The unit the current_unit_price is expressed in (e.g. \"kg\", \"l\", \"piece\")"
          },
          "last_checked": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the price was last verified"
          }
        },
        "required": [
          "store",
          "name",
          "current_price",
          "current_unit_price",
          "current_unit_price_unit",
          "last_checked"
        ],
        "title": "BulkPriceHistoryStoreResource"
      },
      "CreateShoppingListItemRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 255
          },
          "product_id": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "text"
        ],
        "title": "CreateShoppingListItemRequest"
      },
      "CreateShoppingListRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "title"
        ],
        "title": "CreateShoppingListRequest"
      },
      "CreateWebhookRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 255
          },
          "ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "eans": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "url"
        ],
        "title": "CreateWebhookRequest"
      },
      "LabelItemResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization": {
            "type": [
              "string",
              "null"
            ]
          },
          "alternative_names": {
            "type": [
              "array",
              "null"
            ],
            "items": {

            }
          },
          "type": {
            "type": [
              "string",
              "null"
            ]
          },
          "year_established": {
            "type": [
              "integer",
              "null"
            ]
          },
          "about": {
            "type": [
              "string",
              "null"
            ]
          },
          "note": {
            "type": [
              "string",
              "null"
            ]
          },
          "icon": {
            "type": "object",
            "properties": {
              "svg": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "png": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "svg",
              "png"
            ]
          }
        },
        "required": [
          "name",
          "display_name",
          "description",
          "organization",
          "alternative_names",
          "type",
          "year_established",
          "about",
          "note",
          "icon"
        ],
        "title": "LabelItemResource"
      },
      "NutritionItemResource": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "display_name",
          "amount",
          "unit"
        ],
        "title": "NutritionItemResource"
      },
      "PhysicalStoreResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "group": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "fax": {
            "type": [
              "string",
              "null"
            ]
          },
          "logo": {
            "type": "string"
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "detailUrl": {
            "type": "string"
          },
          "position": {
            "type": "object",
            "properties": {
              "lat": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lng": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "lat",
              "lng"
            ]
          },
          "openingHours": {
            "type": "object",
            "properties": {
              "monday": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "tuesday": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "wednesday": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "thursday": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "friday": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "saturday": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "sunday": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "monday",
              "tuesday",
              "wednesday",
              "thursday",
              "friday",
              "saturday",
              "sunday"
            ]
          }
        },
        "required": [
          "id",
          "group",
          "name",
          "address",
          "phone",
          "email",
          "fax",
          "logo",
          "website",
          "detailUrl",
          "position",
          "openingHours"
        ],
        "title": "PhysicalStoreResource"
      },
      "ProductCategoryResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "parent_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "parent_id",
          "name",
          "updated_at",
          "created_at"
        ],
        "title": "ProductCategoryResource"
      },
      "ProductComparisonItemResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "vendor": {
            "type": [
              "string",
              "null"
            ]
          },
          "brand": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "ingredients": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "category": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "depth": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "depth",
                "name"
              ]
            }
          },
          "store": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "logo": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "code",
                "url",
                "logo"
              ]
            }
          },
          "current_price": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "number"
                },
                "unit_price": {
                  "type": "number"
                },
                "date": {
                  "type": "string"
                }
              },
              "required": [
                "price",
                "unit_price",
                "date"
              ]
            }
          },
          "weight": {
            "description": "The weight in the specified weight_unit",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          },
          "weight_unit": {
            "description": "The unit of the weight",
            "$ref": "#/components/schemas/Units"
          },
          "price_history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "number"
                },
                "date": {
                  "type": "string"
                }
              },
              "required": [
                "price",
                "date"
              ]
            }
          },
          "kassalapp": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "opengraph": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "url",
              "opengraph"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "vendor",
          "brand",
          "description",
          "ingredients",
          "url",
          "image",
          "category",
          "store",
          "current_price",
          "weight",
          "weight_unit",
          "price_history",
          "kassalapp",
          "created_at",
          "updated_at"
        ],
        "title": "ProductComparisonItemResource"
      },
      "ProductComparisonResource": {
        "type": "object",
        "properties": {
          "ean": {
            "type": [
              "string",
              "null"
            ]
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductComparisonItemResource"
            }
          },
          "allergens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AllergenItemResource"
            }
          },
          "nutrition": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NutritionItemResource"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabelItemResource"
            }
          }
        },
        "required": [
          "ean",
          "products",
          "allergens",
          "nutrition",
          "labels"
        ],
        "title": "ProductComparisonResource"
      },
      "ProductResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "brand": {
            "type": [
              "string",
              "null"
            ]
          },
          "vendor": {
            "type": [
              "string",
              "null"
            ]
          },
          "ean": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "category": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "depth": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "depth",
                "name"
              ]
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "ingredients": {
            "type": [
              "string",
              "null"
            ]
          },
          "current_price": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current price  (Enhetspris)"
          },
          "current_unit_price": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current unit price (\"kilopris\")"
          },
          "weight": {
            "description": "The weight in the specified weight_unit",
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "number"
              }
            ]
          },
          "weight_unit": {
            "description": "The unit of the weight",
            "$ref": "#/components/schemas/Units"
          },
          "store": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "logo": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "code",
                "url",
                "logo"
              ]
            }
          },
          "price_history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "number"
                },
                "date": {
                  "type": "string"
                }
              },
              "required": [
                "price",
                "date"
              ]
            }
          },
          "allergens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AllergenItemResource"
            }
          },
          "nutrition": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NutritionItemResource"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabelItemResource"
            }
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "brand",
          "vendor",
          "ean",
          "url",
          "image",
          "category",
          "description",
          "ingredients",
          "current_price",
          "current_unit_price",
          "weight",
          "weight_unit",
          "store",
          "price_history",
          "allergens",
          "nutrition",
          "labels",
          "created_at",
          "updated_at"
        ],
        "title": "ProductResource"
      },
      "ShoppingListItemResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "text": {
            "type": [
              "string",
              "null"
            ]
          },
          "product": {
            "description": "Shopping list items",
            "$ref": "#/components/schemas/ProductComparisonResource"
          },
          "checked": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "text",
          "product",
          "checked",
          "created_at",
          "updated_at"
        ],
        "title": "ShoppingListItemResource"
      },
      "ShoppingListResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShoppingListItemResource"
            }
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "created_at",
          "updated_at"
        ],
        "title": "ShoppingListResource"
      },
      "Units": {
        "type": "string",
        "enum": [
          "cl",
          "cm",
          "dl",
          "dosage",
          "g",
          "hg",
          "kg",
          "l",
          "m",
          "m100",
          "ml",
          "pair",
          "piece",
          "portion",
          "squareMeter"
        ],
        "title": "Units"
      },
      "UpdateShoppingListItemRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "checked": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "title": "UpdateShoppingListItemRequest"
      },
      "UpdateShoppingListRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 255
          }
        },
        "title": "UpdateShoppingListRequest"
      },
      "UpdateWebhookRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 255
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "eans": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "title": "UpdateWebhookRequest"
      },
      "WebhookResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": "string"
          },
          "secret": {
            "type": [
              "string",
              "null"
            ]
          },
          "eans": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "secret",
          "eans",
          "ids",
          "created_at",
          "updated_at"
        ],
        "title": "WebhookResource"
      }
    },
    "responses": {
      "AuthenticationException": {
        "description": "Unauthenticated",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "ValidationException": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Errors overview."
                },
                "errors": {
                  "type": "object",
                  "description": "A detailed description of each field that failed validation.",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "required": [
                "message",
                "errors"
              ]
            }
          }
        }
      },
      "ModelNotFoundException": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "AuthorizationException": {
        "description": "Authorization error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      }
    }
  }
}